Repository React95/React95, changes with the labels that .github/labeler.yml gives for each.
All labels: @react95/clippy, @react95/core, @react95/cra-template, @react95/cra-template-typescript, @react95/design, @react95/explorer, @react95/gatsby-theme, @react95/icons

.github/labeler.yml:

'@react95/clippy':
  - packages/clippy/**/*

'@react95/core':
  - packages/core/**/*

'@react95/cra-template':
  - packages/cra-template/**/*

'@react95/cra-template-typescript':
  - packages/cra-template-typescript/**/*

'@react95/design':
  - packages/design/**/*

'@react95/explorer':
  - packages/explorer/**/*

'@react95/gatsby-theme':
  - packages/gatsby-theme/**/*

'@react95/icons':
  - packages/icons/**/*

ci: adding codeball AI
  .github/workflows/codeball.yml
Labels: none

update react95/core peerdependencies for support of latest version of gatsby
  packages/gatsby-theme/package.json
Labels: @react95/gatsby-theme

ci: updating nx
  .github/workflows/nx.yml
Labels: none

ci: conditionally load ref
  .github/workflows/nx.yml
Labels: none

ci: fix typo
  .github/workflows/nx.yml
Labels: none

fix: update react95/core peerdependencies for support of latest version of gatsby
  packages/gatsby-theme/package.json
Labels: @react95/gatsby-theme

ci: running nx only on pull_request_target event
  .github/workflows/nx.yml
Labels: none

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
Labels: @react95/explorer, @react95/gatsby-theme

ci: update codeball to run in PR from forks
  .github/workflows/codeball.yml
Labels: none

Testing, please ignore
  README.md
Labels: none

ci: update codeball to ensure labelling
  .github/workflows/codeball.yml
Labels: none

chore: update dependencies
  package.json
  yarn.lock
Labels: none

Update README.md
  README.md
Labels: none

fix(gatsby): fix peerDependencies
  packages/gatsby-theme/package.json
Labels: @react95/gatsby-theme

chore: add application to awesome projects
  README.md
Labels: none

fix(core): disable overflow when using GlobalStyle
  packages/core/components/GlobalStyle/GlobalStyle.tsx
Labels: @react95/core

ci: add postinstall to be a cacheable operation
  nx.json
Labels: none

ci(Nx): update accessToken
  nx.json
Labels: none

refactor: remove postinstall step
  package.json
  packages/icons/package.json
Labels: @react95/icons

refactor: remove whitespaces from `css` file
  packages/icons/processIcons.ts
Labels: @react95/icons

ci: change pull request target
  .github/workflows/nx.yml
Labels: none

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: @react95/core, @react95/explorer, @react95/gatsby-theme, @react95/icons

Update package.json
  package.json
Labels: none

fix(clippy): broken dependecy url
  packages/clippy/src/ClippyProvider.jsx
Labels: @react95/clippy

fix(clippy): switch to jsdelivr
  packages/clippy/src/ClippyProvider.jsx
Labels: @react95/clippy

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/clippy/CHANGELOG.md
  packages/clippy/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
Labels: @react95/clippy, @react95/core, @react95/explorer, @react95/gatsby-theme
