Repository React95/React95, changes with the labels that .github/labeler.yml gives for each.
All labels: @react95/clippy, @react95/core, @react95/cra-template, @react95/cra-template-typescript, @react95/design, @react95/explorer, @react95/gatsby-theme, @react95/icons

chore(deps): update testing-library versions
  packages/clippy/package.json
  packages/clippy/tests/useClippy.test.js
  packages/core/components/shared/test/utils.ts
  packages/core/package.json
  yarn.lock
Labels: @react95/clippy, @react95/core

test: update snapshots
  packages/core/components/Dropdown/__snapshots__/Dropdown.snap
  packages/core/components/List/__snapshots__/List.snap
  packages/core/components/Range/__snapshots__/Range.snap
  packages/core/components/TaskBar/__snapshots__/TaskBar.snap
  packages/core/components/Video/__snapshots__/Video.snap
Labels: @react95/core

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/clippy/CHANGELOG.md
  packages/clippy/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/cra-template-typescript/CHANGELOG.md
  packages/cra-template-typescript/package.json
  packages/cra-template/CHANGELOG.md
  packages/cra-template/package.json
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
Labels: @react95/clippy, @react95/core, @react95/cra-template, @react95/cra-template-typescript, @react95/explorer, @react95/gatsby-theme

chore(nx): add nx
  nx.json
  package.json
  yarn.lock
Labels: none

fix(input): update border-radius on iOS
  packages/core/components/Input/Input.tsx
Labels: @react95/core

test(input): update snapshot
  packages/core/components/Input/__snapshots__/Input.snap
Labels: @react95/core

fix(textarea): update border-radius on iOS
  packages/core/components/TaskBar/__snapshots__/TaskBar.snap
  packages/core/components/TextArea/TextArea.tsx
  packages/core/components/TextArea/__snapshots__/TextArea.snap
Labels: @react95/core

fix(taskbar): prevent Clock to be rendered everytime
  packages/core/components/TaskBar/Clock.tsx
Labels: @react95/core

test(taskbar): add a time to TaskBar and make it more close to the reality
  packages/core/components/TaskBar/TaskBar.test.tsx
  packages/core/components/TaskBar/__snapshots__/TaskBar.snap
Labels: @react95/core

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
Labels: @react95/core, @react95/explorer, @react95/gatsby-theme

chore(deps): just `yarn upgrade`
  package.json
  yarn.lock
Labels: none

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
Labels: @react95/explorer, @react95/gatsby-theme

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
Labels: @react95/explorer, @react95/gatsby-theme

ci: create check-pr.yml and removing codesandbox CI
  .codesandbox/ci.json
  .github/workflows/check-pr.yml
Labels: none

refactor: checking PR on pull_request event only
  .github/workflows/check-pr.yml
Labels: none

ci: adding cache control
  .github/workflows/build_and_publish.yml
  .github/workflows/check-pr.yml
Labels: none

ci: fixing glob pattern
  .github/workflows/build_and_publish.yml
  .github/workflows/check-pr.yml
Labels: none

refactor: better action name
  .github/workflows/check-pr.yml
Labels: none

chore: updating lerna to v5 and adding nx configs
  lerna.json
  nx.json
  package.json
  yarn.lock
Labels: none

ci: integrating Nx cloud
  .github/workflows/nx.yml
  nx.json
  package.json
  yarn.lock
Labels: none

ci: update default branch name
  .github/workflows/nx.yml
Labels: none

ci: ignoring @react95/explorer on Nx
  packages/explorer/package.json
Labels: @react95/explorer

ci: ignoring @react95/explorer on Nx
  .nxignore
  packages/explorer/package.json
Labels: @react95/explorer

ci: as long as we have Nx, we wouldn't need to check in GH Actions anymore
  .github/workflows/check-pr.yml
  .github/workflows/nx.yml
Labels: none

ci: moving (some) commands to Nx
  .husky/pre-push
  jest/config/config.js
  nx.json
  package.json
  packages/clippy/package.json
  packages/core/babel.config.js
  packages/core/package.json
Labels: @react95/clippy, @react95/core

ci: shrinking a little
  .github/workflows/nx.yml
Labels: none

ci: removing max-parallel argument
  .github/workflows/nx.yml
Labels: none

ci: removing agents
  .github/workflows/nx.yml
Labels: none

ci: getting back agents
  .github/workflows/nx.yml
Labels: none

ci: add lint to Nx
  .eslintrc
  .github/workflows/nx.yml
  package.json
  packages/clippy/package.json
  packages/core/components/Video/Video.test.tsx
  packages/core/package.json
Labels: @react95/clippy, @react95/core

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/clippy/CHANGELOG.md
  packages/clippy/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
Labels: @react95/clippy, @react95/core, @react95/explorer, @react95/gatsby-theme

chore: update dependencies
  yarn.lock
Labels: none

chore: update webpack
  package.json
  yarn.lock
Labels: none

chore(theme): add missing dependency
  packages/gatsby-theme/package.json
  yarn.lock
Labels: @react95/gatsby-theme

fix(video): spreading props in the right way
  packages/core/components/Video/Video.tsx
Labels: @react95/core

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
Labels: @react95/core, @react95/explorer, @react95/gatsby-theme

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
Labels: @react95/explorer, @react95/gatsby-theme

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
Labels: @react95/explorer, @react95/gatsby-theme

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
Labels: @react95/explorer, @react95/gatsby-theme

remove one personal portfolio website (spam link)
  README.md
Labels: none

.github/labeler.yml:

'@react95/clippy':
  - packages/clippy/**/*

'@react95/core':
  - packages/core/**/*

'@react95/cra-template':
  - packages/cra-template/**/*

'@react95/cra-template-typescript':
  - packages/cra-template-typescript/**/*

'@react95/design':
  - packages/design/**/*

'@react95/explorer':
  - packages/explorer/**/*

'@react95/gatsby-theme':
  - packages/gatsby-theme/**/*

'@react95/icons':
  - packages/icons/**/*
