Repository React95/React95, changes with the labels that .github/labeler.yml gives for each.
All labels: @react95/clippy, @react95/core, @react95/cra-template, @react95/cra-template-typescript, @react95/design, @react95/explorer, @react95/gatsby-theme, @react95/icons

.github/labeler.yml:

'@react95/clippy':
  - packages/clippy/**/*

'@react95/core':
  - packages/core/**/*

'@react95/cra-template':
  - packages/cra-template/**/*

'@react95/cra-template-typescript':
  - packages/cra-template-typescript/**/*

'@react95/design':
  - packages/design/**/*

'@react95/explorer':
  - packages/explorer/**/*

'@react95/gatsby-theme':
  - packages/gatsby-theme/**/*

'@react95/icons':
  - packages/icons/**/*

test(taskbar): update snapshots
  packages/core/components/TaskBar/__snapshots__/TaskBar.snap
Labels: @react95/core

chore: update dependencies to latest versions
  babel.config.js
  jest/config/clippy.js
  jest/config/core.js
  package.json
  yarn.lock
Labels: none

chore(TS): update type
  packages/core/components/shared/test/utils.ts
Labels: @react95/core

docs: update LICENCE and README.md
  LICENSE
  README.md
Labels: none

chore(dps): update gatsby version
  package.json
  packages/gatsby-theme/package.json
  yarn.lock
Labels: @react95/gatsby-theme

fix(clippy): add s3 CDN and conditionally set clippy cdn variable based on the window property
  packages/clippy/src/ClippyProvider.jsx
Labels: @react95/clippy

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/clippy/CHANGELOG.md
  packages/clippy/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package.json
Labels: @react95/clippy, @react95/core, @react95/explorer, @react95/gatsby-theme

fix(dps): adding object-path as dependency
  package.json
  packages/gatsby-theme/package.json
  yarn.lock
Labels: @react95/gatsby-theme

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package.json
Labels: @react95/explorer, @react95/gatsby-theme

feat(gatsby-theme): conditionally adding TS support when in development
  packages/gatsby-theme/gatsby-config.js
Labels: @react95/gatsby-theme

chore(npm): cleaning the final package: removing .cache and public folder
  packages/gatsby-theme/.npmignore
  packages/gatsby-theme/gatsby-config.js
Labels: @react95/gatsby-theme

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package.json
Labels: @react95/explorer, @react95/gatsby-theme

refactor: use a more specific check for the window property
  packages/clippy/src/ClippyProvider.jsx
Labels: @react95/clippy

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/clippy/CHANGELOG.md
  packages/clippy/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package.json
Labels: @react95/clippy, @react95/core, @react95/explorer, @react95/gatsby-theme

add folderStatusSize to increase the w & h simultaneously
  packages/core/components/Tree/Node.tsx
Labels: @react95/core

Update package.json
  package.json
Labels: none

chore(jest): update configs
  jest/config/clippy.js
  jest/config/core.js
Labels: none

ci(actions): update labeler to v4
  .github/workflows/labeler.yml
Labels: none

chore(dps): update Clippy dependencies!
  packages/clippy/package.json
Labels: @react95/clippy

chore(cra): update templates
  packages/cra-template-typescript/template.json
  packages/cra-template/template.json
Labels: @react95/cra-template, @react95/cra-template-typescript

feat(core): update @xstyled from v1 to v3
  packages/core/components/Frame/Frame.ts
  packages/core/components/TaskBar/TaskBar.tsx
  packages/core/components/Video/Video.tsx
  packages/core/package.json
  packages/core/stories/frame.stories.tsx
  packages/core/stories/titlebar.stories.tsx
  packages/core/stories/video.stories.tsx
  packages/core/types/theme.d.ts
  yarn.lock
Labels: @react95/core

chore(icons): update dependencies package core
  packages/icons/package.json
  packages/icons/processIcons.ts
  yarn.lock
Labels: @react95/icons

test(snapshot): update snapshot
  packages/core/components/Alert/__snapshots__/Alert.snap
  packages/core/components/Avatar/__snapshots__/Avatar.snap
  packages/core/components/List/__snapshots__/List.snap
  packages/core/components/Modal/__snapshots__/Modal.snap
  packages/core/components/Tabs/__snapshots__/Tabs.snap
  packages/core/components/TaskBar/__snapshots__/TaskBar.snap
  packages/core/components/TitleBar/__snapshots__/TitleBar.snap
  packages/core/components/Tooltip/__snapshots__/Tooltip.snap
  packages/core/components/Tree/__snapshots__/Tree.snap
  packages/core/components/Video/__snapshots__/Video.snap
Labels: @react95/core

chore(gastsbytheme): update dependencies to latest version
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
Labels: @react95/gatsby-theme

fix(icons): add missing width and height variant properties
  packages/icons/component-template.ts
  packages/icons/processIcons.ts
Labels: @react95/icons

fix(core): update types (and re-exporting some in .d.ts)
  packages/core/components/TaskBar/TaskBar.tsx
  packages/core/types/theme.d.ts
Labels: @react95/core

chore(gatsby): updating dependencies
  package.json
  yarn.lock
Labels: none

test(icons): updating missing width and height in imgs
  packages/core/components/Alert/__snapshots__/Alert.snap
  packages/core/components/List/__snapshots__/List.snap
  packages/core/components/Modal/__snapshots__/Modal.snap
  packages/core/components/TaskBar/__snapshots__/TaskBar.snap
  packages/core/components/TitleBar/__snapshots__/TitleBar.snap
  packages/core/components/Tree/__snapshots__/Tree.snap
  packages/core/components/Video/__snapshots__/Video.snap
Labels: @react95/core

chore: fixing build npm script
  package.json
Labels: none

chore(gatsby): updating missing dependencies
  packages/gatsby-theme/package.json
  yarn.lock
Labels: @react95/gatsby-theme

chore(dependencies): remove bojagi dependencies
  package.json
Labels: none

chore(release): publish :floppy_disk: :tada: [skip ci]
  packages/clippy/CHANGELOG.md
  packages/clippy/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/cra-template-typescript/CHANGELOG.md
  packages/cra-template-typescript/package.json
  packages/cra-template/CHANGELOG.md
  packages/cra-template/package.json
  packages/explorer/CHANGELOG.md
  packages/explorer/package.json
  packages/gatsby-theme/CHANGELOG.md
  packages/gatsby-theme/package-lock.json
  packages/gatsby-theme/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
Labels: @react95/clippy, @react95/core, @react95/cra-template, @react95/cra-template-typescript, @react95/explorer, @react95/gatsby-theme, @react95/icons

refactor: remove '@xstyled/system' and improve types
  packages/core/components/Avatar/Avatar.tsx
  packages/core/components/Button/Button.tsx
  packages/core/components/Checkbox/Checkbox.tsx
  packages/core/components/Dropdown/Dropdown.tsx
  packages/core/components/Fieldset/Fieldset.tsx
  packages/core/components/Frame/Frame.ts
  packages/core/components/List/List.tsx
  packages/core/components/List/ListDivider.tsx
  packages/core/components/List/ListItem.tsx
  packages/core/components/Modal/Modal.tsx
  packages/core/components/Modal/ModalProvider.tsx
  packages/core/components/ProgressBar/ProgressBar.tsx
  packages/core/components/RadioButton/RadioButton.tsx
  packages/core/components/Range/Range.tsx
  packages/core/components/Tabs/Tab.tsx
  packages/core/components/TaskBar/WindowButton.tsx
  packages/core/components/ThemeProvider/ThemeProvider.tsx
  packages/core/components/TitleBar/TitleBar.tsx
  packages/core/components/Video/Video.tsx
  packages/core/types/theme.d.ts
Labels: @react95/core

chore(babel): configure styled-components plugin to handle xstyled
  packages/core/babel.config.js
Labels: @react95/core

chore: moving xstyled to peerDependencies
  packages/core/package.json
Labels: @react95/core

chore: updating react to 18
  package.json
  yarn.lock
Labels: none

chore(types): add missing types from react-draggable
  types/draggable.d.ts
Labels: none

chore(cra): add web-vitals support and updating the template to react 18
  packages/cra-template/template.json
  packages/cra-template/template/src/index.js
  packages/cra-template/template/src/reportWebVitals.js
Labels: @react95/cra-template

fix(deps): fix core peerDependencies values
  packages/core/package.json
Labels: @react95/core

chore(templates): update dependencies versions
  packages/cra-template-typescript/template.json
  packages/cra-template/template.json
Labels: @react95/cra-template, @react95/cra-template-typescript
