Repository React95/React95, pull requests merged in 2022-07, with the labels that each got.

#354 ci: adding codeball AI
  .github/workflows/codeball.yml
Labels: codeball:approved

#357 ci: updating nx
  .github/workflows/nx.yml
Labels: codeball:approved

#356 Update react95/core peerdependencies to 6.0.4 on gastby-theme
  packages/gatsby-theme/package.json
Labels: @react95/gatsby-theme

#365 chore: update dependencies
  package.json
  yarn.lock
Labels: codeball:needs-review
