Repository React95/React95, pull requests merged in 2023-07, with the labels that each got.

#402 Update to Sb7
  .github/workflows/build_and_publish.yml
  .github/workflows/codeball.yml
  .github/workflows/nx.yml
  .gitignore
  nx.json
  package.json
  packages/core/.storybook/decorators/Frame.jsx
  packages/core/.storybook/main.js
  packages/core/.storybook/preview.js
  packages/core/.storybook/src/clippy-addon/register.jsx
  packages/core/.storybook/src/theme-changer/withThemes.jsx
  packages/core/components/Alert/Alert.tsx
  packages/core/components/Alert/__snapshots__/Alert.snap
  packages/core/components/Cursor/Cursor.tsx
  packages/core/components/GlobalStyle/GlobalStyle.tsx
  packages/core/components/Modal/Modal.tsx
  packages/core/components/Tabs/Tabs.tsx
  packages/core/package.json
  packages/core/stories/alert.stories.tsx
  packages/core/stories/all.stories.tsx
  packages/core/stories/avatar.stories.tsx
  packages/core/stories/button.stories.tsx
  packages/core/stories/checkbox.stories.tsx
  packages/core/stories/cursor.stories.tsx
  packages/core/stories/dropdown.stories.tsx
  packages/core/stories/fieldset.stories.tsx
  packages/core/stories/frame.stories.tsx
  packages/core/stories/icons.stories.tsx
  packages/core/stories/input.stories.tsx
  packages/core/stories/list.stories.tsx
  packages/core/stories/modal.stories.tsx
  packages/core/stories/progressbar.stories.tsx
  packages/core/stories/radiobutton.stories.tsx
  packages/core/stories/range.stories.tsx
  packages/core/stories/tabs.stories.tsx
  packages/core/stories/taskbar.stories.tsx
  packages/core/stories/textarea.stories.tsx
  packages/core/stories/titlebar.stories.tsx
  packages/core/stories/tooltip.stories.tsx
  packages/core/stories/tree.stories.tsx
  packages/core/stories/video.stories.tsx
  tsconfig.json
  types/global.d.ts
  yarn.lock
Labels: @react95/core

#403 ci(icons): keep `iconDemos.ts`
  packages/icons/.gitignore
  packages/icons/src/iconDemos.ts
Labels: @react95/icons

#376 fix(core): disable overflow when using GlobalStyle
  .github/workflows/nx.yml
  nx.json
  packages/core/components/GlobalStyle/GlobalStyle.tsx
Labels: @react95/core, codeball:needs-review
